{
  "server_host": "your.domain.example",
  "insecure": false,

  "reality": 1,
  "hy2": 1,
  "shadowtls": 1,
  "tuic": 1,
  "anytls": 1,
  "ss_direct": 0,
  "vless_ws": 0,
  "vmess_ws": 0,
  "trojan": 0,
  "naive": 0,
  "wireguard": 0,

  "sb_uuid": "00000000-0000-0000-0000-000000000000",
  "sb_pub": "REALITY_PUBLIC_KEY_URLSAFE_RAW",
  "sb_short": "859dff58",
  "hy2_pass": "HY2_PASSWORD",
  "hy2_obfs": "HY2_OBFS",
  "ss_pass": "SS2022_PASSWORD_BASE64",
  "st_pass": "SHADOWTLS_PASSWORD",
  "tu_uuid": "00000000-0000-0000-0000-000000000000",
  "any_pass": "ANYTLS_PASSWORD",
  "trojan_pass": "TROJAN_PASSWORD",
  "naive_user": "sb",
  "naive_pass": "NAIVE_PASSWORD",
  "wg_priv": "WG_PRIVATE_KEY",
  "wg_pub": "WG_PEER_PUBLIC_KEY",
  "wg_psk": "WG_PRESHARED_KEY",
  "wg_local_addr": "10.0.0.2/32",

  "vless_ws_path": "/ws",
  "vless_ws_host": "your.domain.example",
  "vmess_ws_path": "/ws",
  "vmess_ws_host": "your.domain.example",

  "port_reality": 443,
  "port_hy2": 443,
  "port_st": 8443,
  "port_tuic": 8445,
  "port_anytls": 2083,
  "port_ss": 8388
}
